body {
    margin: 0;
    overflow-x: hidden;
    font-family: sans-serif;
}

.header {
    padding: 15px;
    background: #555;
    color: #f1f1f1;
    font-weight: bold;
}
.content {
    padding: 16px;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.sticky + .content {
    padding-top: 102px;
}

.header h2 {
    margin-left: 20px;
}